/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Apr, 2017, 9:27:46 PM
    Author     : AnanthJP
*/
/*primary menu button width issue*/
.tbtn {
    width: auto !important;
}
.custom_login_err {
    color : red;
}
.register_success {
    color : green;
}
